@import 'tailwindcss';

@theme {
  --color-background: #f8f8f8;
  --color-foreground: #1f1f1f;
  --color-card: #fcfcfc;
  --color-card-foreground: #1f1f1f;
  --color-popover: #fcfcfc;
  --color-popover-foreground: #1f1f1f;
  --color-primary: #63493f;
  --color-primary-foreground: #ffffff;
  --color-secondary: #ffdfb1;
  --color-secondary-foreground: #592d1c;
  --color-muted: #eeeeee;
  --color-muted-foreground: #636363;
  --color-accent: #e8e8e8;
  --color-accent-foreground: #1f1f1f;
  --color-destructive: #e55032;
  --color-destructive-foreground: #ffffff;
  --color-border: #d7d7d7;
  --color-input: #d7d7d7;
  --color-ring: #63493f;
  --color-chart-1: #63493f;
  --color-chart-2: #ffdfb1;
  --color-chart-3: #e8e8e8;
  --color-chart-4: #ffe7c7;
  --color-chart-5: #63493f;
  --color-sidebar: #fcfcfc;
  --color-sidebar-foreground: #242424;
  --color-sidebar-primary: #353535;
  --color-sidebar-primary-foreground: #fcfcfc;
  --color-sidebar-accent: #f8f8f8;
  --color-sidebar-accent-foreground: #353535;
  --color-sidebar-border: #ebebeb;
  --color-sidebar-ring: #b4b4b4;

  --radius: 0.5rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 2px 4px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 4px 6px -1px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 8px 10px -1px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}

:root {
  --background: #f8f8f8;
  --foreground: #1f1f1f;
  --card: #fcfcfc;
  --card-foreground: #1f1f1f;
  --popover: #fcfcfc;
  --popover-foreground: #1f1f1f;
  --primary: #63493f;
  --primary-foreground: #ffffff;
  --secondary: #ffdfb1;
  --secondary-foreground: #592d1c;
  --muted: #eeeeee;
  --muted-foreground: #636363;
  --accent: #e8e8e8;
  --accent-foreground: #1f1f1f;
  --destructive: #e55032;
  --destructive-foreground: #ffffff;
  --border: #d7d7d7;
  --input: #d7d7d7;
  --ring: #63493f;
  --chart-1: #63493f;
  --chart-2: #ffdfb1;
  --chart-3: #e8e8e8;
  --chart-4: #ffe7c7;
  --chart-5: #63493f;
  --sidebar: #fcfcfc;
  --sidebar-foreground: #242424;
  --sidebar-primary: #353535;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #f8f8f8;
  --sidebar-accent-foreground: #353535;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b4b4b4;
}

.dark {
  --background: #121212;
  --foreground: #eeeeee;
  --card: #181818;
  --card-foreground: #eeeeee;
  --popover: #181818;
  --popover-foreground: #eeeeee;
  --primary: #fcdfc2;
  --primary-foreground: #0a191a;
  --secondary: #3a3128;
  --secondary-foreground: #fcdfc2;
  --muted: #222222;
  --muted-foreground: #b4b4b4;
  --accent: #2b2b2b;
  --accent-foreground: #eeeeee;
  --destructive: #e55032;
  --destructive-foreground: #ffffff;
  --border: #211f1a;
  --input: #484848;
  --ring: #fcdfc2;
  --chart-1: #fcdfc2;
  --chart-2: #3a3128;
  --chart-3: #2b2b2b;
  --chart-4: #423930;
  --chart-5: #fcdfc2;
  --sidebar: #18181d;
  --sidebar-foreground: #f5f5f5;
  --sidebar-primary: #1d4eda;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #26262b;
  --sidebar-accent-foreground: #f5f5f5;
  --sidebar-border: #26262b;
  --sidebar-ring: #d3d3db;
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
